{% extends 'base.html.twig' %}

{% block title %}New Suite{% endblock %}

{% block body %}
 {%  include 'nav.html.twig' %}
     <div class="background_form">
        <div class="container-xxl">
            <div class="balise_centre">
                <div class="white">
                    <div class="class_form">
                         {{ form_start(form) }}
                        {{ form_widget(form.title) }}
                         {{ form_widget(form.description) }}
                         {{ form_widget(form.price) }}
                        {{ form_widget(form.imageFile) }}
                          
                        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                         <a class="btn btn-secondary" href="{{ path('app_gerant_suite_index') }}">Retour</a>
                         {{ form_end(form) }}
                        
                    </div>
                </div>
            </div>
        </div>
    <div>


   

    
{%  include 'footer.html.twig' %}
{% endblock %}
