{% extends 'base.html.twig' %}

{% block title %}Suite{% endblock %}

{% block body %}
{%  include 'nav.html.twig' %}
 <div class="col-suite">
    <div class="container-xxl">
            <div class="img_show_suite py-5">
                <img src="{{asset('/images/suite/' ~ suite.imageName )}}" alt="" class="">
            </div>
            <div class="container_show_suite">
                <div class="div_show_suite">
                    <div class="div_show_suite_title my-4">
                        <p class="text-center"> <u>{{ suite.title }}</u></p>
                    </div>
                    <div class="div_show_suite_description my-4">
                        <p class="">{{ suite.description }} </p>
                    </div>
                    <div class="div_show_suite_price my-4">
                        <p class="text-center">{{ suite.price }}  €</p>
                        <p class="text-center">La nuit </p>
                        <div class="d-flex justify-content-center my-4">
                            <a class="btn btn-primary" href="{{path('app_reservation_new')}}"> Réserver </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer">
            </div> 
    </div>
</div>
      {%  include 'footer.html.twig' %}
{% endblock %}
