{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="col_register_login">
        <div class="container-xxl">
            <div class="balise_centre">
                <div class="white">
                    <div class="form_register_login">
                        {{ form_start(registrationForm) }}
                        {{ form_widget(registrationForm.name) }}
                        {{ form_widget(registrationForm.firstname) }}
                        {{ form_widget(registrationForm.email) }}
                        {{ form_widget(registrationForm.plainPassword ) }}
                        
                        {{ form_label(registrationForm.agreeTerms,'Accepter nos conditions') }}
                        {{ form_widget(registrationForm.agreeTerms) }}

                        <button type="submit" class="btn btn-primary">S'enregistrer</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    <div>

    
{% endblock %}



