{% extends 'base.html.twig' %}

{% block title %}New Demande{% endblock %}

{% block body %}
    {%  include 'nav.html.twig' %}
     <div class="background_form">
        <div class="container-xxl">
            <div class="balise_centre">
                <div class="white">
                    <div class="class_form">
                     {{ form_start(form) }}
                        {{ form_widget(form.name) }}
                        {{ form_widget(form.firstname) }}
                        {{ form_widget(form.email) }}
                        {{ form_widget(form.sujet) }}
                        {{ form_widget(form.message) }}


                     <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
                      {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    <div>

   
{%  include 'footer.html.twig' %}
{% endblock %}
