{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
 {%  include 'nav.html.twig' %}
     <div class="col-form">
        <div class="container-xxl">
            <div class="balise_centre">
                <div class="white">
                    <div class="class_form">
                        {{ form_start(form) }}
                           {{form_label(form.startDate) }}
                            {{form_widget(form.startDate) }}
                            {{ form_label(form.endDate) }}
                            {{ form_widget(form.endDate) }} 
                            {{ form_widget(form.hotel) }}
                            {{ form_widget(form.suite) }}  
                            <span class="check_ok"></span>  
                            <span class="check_false"></span> 
                            {% if (is_granted('ROLE_USER')) or (is_granted('ROLE_GERANT'))  or (is_granted('ROLE_ADMIN')) %}
                            <button id="hide" class="btn btn-primary">{{ button_label|default('Réserver') }}</button>
                            {%  else  %}
                            <a  href="{{ path('app_login') }}"> Connectez vous pour réserver cette suite </a>
                         {% endif %}
                        {{ form_end(form) }}
                        
                    </div>
                </div>
            </div>
        </div>
    <div>

{%  include 'footer.html.twig' %}
{% endblock %}



